<html>
  <head>
    <title>Hello world</title>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/speech.js"></script>
  </head>
  <body>
    <button onclick="startButton();" style="width:100%; height:50px; font-size:20px">Listen!</button>
    <br/>
    <button style="height:200px; width:100%; background:red; font-size:30px; color: white; background:red; font-size:30px; color: white;" onclick="DIE();">PANIC!!</button>
    <form onsubmit="sendCommand($('#textbox').val()); $('#textbox').val(''); return false;">
      <input type="text" id="textbox" focus/>
      <button type="submit" style="height:50px;"/>Send!</button>
    </form>
  </body>
</html>
